@font-face {
  font-family: 'Sk-Modernist';
  src: url('~@/assets/fonts/Sk-Modernist-Bold.woff') format('font-woff'), 
    url('~@/assets/fonts/Sk-Modernist-Bold.woff2') format('woff2'), 
    url('~@/assets/fonts/Sk-Modernist-Bold.ttf') format('font-truetype'),
    url('~@/assets/fonts/Sk-Modernist-Bold.otf') format('font-opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sk-Modernist';
  src: url('~@/assets/fonts/Sk-Modernist-Regular.woff') format('font-woff'), 
    url('~@/assets/fonts/Sk-Modernist-Regular.woff2') format('woff2'),  
    url('~@/assets/fonts/Sk-Modernist-Regular.ttf') format('font-truetype'),
    url('~@/assets/fonts/Sk-Modernist-Regular.otf') format('font-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../assets/fonts/SpaceGrotesk-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../assets/fonts/SpaceGrotesk-Bold.ttf') format('ttf');
  font-weight: bld;
  font-style: normal;
  font-display: swap;
}

.has-text-light {color:#4F4F4F}

.input {
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 13px;
}

button {background: none!important;border-radius: 8px!important;}

.button-dark {border: 1px solid black!important; color: black!important; }
.button-light {border: 1px solid white!important; color: white!important; }

.connect_wallet {
  background: black;
  width: 100vw;
  height: 100vh;
}
.connect_wallet img {position: absolute; left: 50%;top: 50%;transform: translate(-50%,-50%);}
.connect_wallet p {font-family: Sk-Modernist;}
.connect_wallet > div {position: absolute; bottom: 0; right: 0; left: 0; display: flex; flex-direction: column;}
.connect_wallet > div > div {height: 90px; width: 100%; border-top: 1px solid white; display: flex; align-items: center;} 
.connect_wallet > div > div > h2 {font-size: 30px; color: white; margin-left: 2.5rem; display: inline-block; flex-basis: 80%;}
.connect_wallet > div > div > div {flex-basis: 20%; position: relative; border-left: 1px solid white;height: 100%;}

#navbar {
  width: 100vw;
  height: 56px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  padding: 1.375rem 0 1.375rem 1.375rem;
  background: #EDEDED;
}
#navbar > img {width: 180px;height: 15px;}
.navbar_links {margin: 0 0 0 auto;}
.navbar_links a {color: black; margin: 0 15px;}
.navbar_links span {display: inline-block; width: 10px;height: 10px; border:1px solid black;border-radius: 100%; margin: 0 7px; transition: all .3s ease-in-out;}
.navbar_link_active span {background: black;}
#navbar_group > div:nth-child(2) {font-family: 'Sk-Modernist';font-size: 90px; color: black; display: flex; align-items: center; align-content: space-between; padding: 1rem 2rem;}
#navbar_group > div:nth-child(2) h1 {margin: auto;}