@font-face {
  font-family: 'Sk-Modernist';
  src: url('~@/assets/fonts/Sk-Modernist-Bold.woff') format('font-woff'), 
    url('~@/assets/fonts/Sk-Modernist-Bold.woff2') format('woff2'), 
    url('~@/assets/fonts/Sk-Modernist-Bold.ttf') format('font-truetype'),
    url('~@/assets/fonts/Sk-Modernist-Bold.otf') format('font-opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sk-Modernist';
  src: url('~@/assets/fonts/Sk-Modernist-Regular.woff') format('font-woff'), 
    url('~@/assets/fonts/Sk-Modernist-Regular.woff2') format('woff2'),  
    url('~@/assets/fonts/Sk-Modernist-Regular.ttf') format('font-truetype'),
    url('~@/assets/fonts/Sk-Modernist-Regular.otf') format('font-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('~@/assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2'),  
    url('~@/assets/fonts/SpaceGrotesk-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('~@/assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),  
    url('~@/assets/fonts/SpaceGrotesk-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.has-text-light {color:#4F4F4F}

.input, select, .select {
  font-family: 'SpaceGrotesk';
  color: black!important;
  font-size: 13px;
  background: none!important;
  border: 1px solid black;
  border-radius: 7px;
}
.input::placeholder, select::placeholder {color: #666666;}
.input:hover, select:hover {border: 1px solid black;}
.input:focus, select:focus, select:active, .textarea:focus, .textarea:active, textarea:focus, textarea:active {box-shadow: 0 0 0 0.125em rgb(0 0 0 / 25%)!important;-webkit-box-shadow:0 0 0 0.125em rgb(0 0 0 / 25%); border: 1px solid #565857!important; outline: none!important;}
span.select::after {border-color: black!important;}
.input[type="checkbox"] {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-radius: 3px;
  cursor: pointer;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
.taginput-container, .is-focusable {
  border: 1px solid #565857!important;
  border-radius: 7px!important;
}
.taginput .taginput-container.is-focusable:active {
  outline:none!important;
  box-shadow: 0 0 0 0.125em rgb(0 0 0 / 25%)!important;
  border: 1px solid #565857!important;
}
.taginput-container.is-focusable:focus {
  outline:none!important;
  box-shadow: 0 0 0 0.125em rgb(0 0 0 / 25%)!important;
  border: 1px solid #565857!important;
}
.taginput .taginput-container .autocomplete input:focus {border: none!important;}
.is-focused {box-shadow: 0 0 0 0.125em rgb(0 0 0 / 25%)!important; border-color: #565857!important;}

button {background: none!important;border-radius: 8px!important;}

.button-dark {border: 1px solid black!important; color: black!important; }
.button-light {border: 1px solid white!important; color: white!important; }
.button_success {border: 1px solid #14d852!important; color: #14d852!important;}
.connect_wallet {
  background: black;
  width: 100vw;
  height: 100vh;
}
.connect_wallet img {position: absolute; left: 50%;top: 50%;transform: translate(-50%,-50%);}
.connect_wallet p {font-family: Sk-Modernist;}
.connect_wallet > div {position: absolute; bottom: 0; right: 0; left: 0; display: flex; flex-direction: column;}
.connect_wallet > div > div {height: 90px; width: 100%; border-top: 1px solid white; display: flex; align-items: center;} 
.connect_wallet > div > div > h2 {font-size: 30px; color: white; margin-left: 2.5rem; display: inline-block; flex-basis: 80%;}
.connect_wallet > div > div > div {flex-basis: 20%; position: relative; border-left: 1px solid white;height: 100%;}

.app_loading {position: absolute;z-index: 999999; background: rgb(237, 237, 237); top: 0;left: 0;bottom: 0;right: 0; display: grid; place-items: center;}

#navbar {
  width: 100vw;
  height: 56px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  padding: 1.375rem 0 1.375rem 2rem;
  background: #EDEDED;
}
#navbar * {font-family: 'Sk-Modernist';}
#navbar > img {width: 180px;height: 15px;}
.navbar_links {margin: 0 0 0 auto;}
.navbar_links a {color: black; margin: 0 15px;}
.navbar_links span {display: inline-block; width: 10px;height: 10px; border:1px solid black;border-radius: 100%; margin: 0 7px; transition: all .3s ease-in-out;}
.navbar_link_active span {background: black;}
#navbar_group > div:nth-child(2) {background: #EDEDED;font-family: 'Sk-Modernist';font-size: 90px; color: black; display: flex; align-items: center; align-content: space-between; padding: 1rem 2.6rem;}
#navbar_group > div:nth-child(2) h1 {margin: auto;}
#instances {background: #EDEDED;position: relative;}
.instances_container {display: flex; flex-direction: column; justify-content: center; width: calc(100vw - 120px); margin:auto; padding-top: 6rem;}
.instances_header {display: flex; flex-direction: row; align-items: center; align-content: space-between; margin-bottom: 1rem;}
.instances_header * {font-family: 'Sk-Modernist'!important}
.instances_header h2 {font-size:24px;font-family: 'Sk-Modernist';color: black;}
.instances_list {display: flex; flex-direction: column; justify-content: center;}
#instance {position: relative;}
#instance * {font-family: 'SpaceGrotesk';}
.instance {display: flex; flex-direction: row; align-items: center; align-content: space-between; margin: .5rem 0;border-bottom: 1px solid rgb(186, 186, 186); padding: 2rem 0;}
.instance_left {display: flex; flex-direction: column;}
.instance_right {display: flex; flex-direction: row; margin: 0 0 auto auto !important;}
.instance_left > h3 * {font-family: 'Sk-Modernist'!important;}
.instance_left *, .instance_right *  {text-transform: uppercase;}
.instance_left p {color: black; font-family: 'SpaceGrotesk';}
.instances_loading {  position: absolute; top: 0;bottom: 0;left: 0;right: 0; display: grid; place-content: center; place-items: center; z-index: 999999; background: rgba(255,255,255,.28);}
.no_instances {text-align: center; margin: 3rem;}
.instance_info {display: flex; flex-direction: row; justify-content: space-between; margin: -4.2rem 0 3.5rem 0;}
.instance_info h2{font-size: 42px; font-family: 'Sk-Modernist'!important; color: black;}
.instance_info p {font-size: 21px;height: fit-content;margin:auto 0;}
.instance_info p a {color: black; text-decoration: underline;}
.instances_info_icon {font-size:20px; position:absolute;top: 4px; color: grey; right: -25px;cursor: pointer; transition: all .17s ease-in-out;}
.instances_info_icon:hover {color: black;}
.modal_container::before {content:''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;backdrop-filter: blur(0); transition: all .3s ease-in-out; z-index: 9; animation: blurInModal .3s ease-in-out forwards;}
.modal_container > .modal {background: #ededed85;backdrop-filter: blur(4px);border: 1px solid #565857;border-radius: 7px; z-index: 99; position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%) scale(.9); display: flex; padding: 4rem;width:fit-content; max-width: 80vw;height: fit-content; justify-content: center; opacity: 0; transition: all .3 ease-in-out; animation: fadeInModal .3s ease-in-out forwards;}
.modal_container > .modal > img {position: absolute; top: 2rem;right: 2rem;width: 2rem;height: 2rem; cursor: pointer;}
.modal_container > .modal h2 {font-size: 22px; color: black; font-family: 'Sk-modernist'; text-align: center; margin: 0 auto .4rem auto;}
.modal_container > .modal input {width: 15rem}
@keyframes blurInModal {
  0% {backdrop-filter: blur(0);}
  100% {backdrop-filter: blur(6px);}
}

@keyframes fadeInModal {
  0% {transform: translate(-50%,-50%) scale(.9);opacity: 0;}
  100% {transform: translate(-50%,-50%) scale(1);opacity: 1;}
}
.add_instance_container {display: flex; flex-direction: column;}
.instances_header p {font-weight:400;color:#4F4F4F; margin: auto 3.5rem auto 0; cursor: pointer;}
.instances_header .tab {transition: all .3s ease-in-out; animation: fadeInTab .13s ease-in-out forwards;}
@keyframes fadeInTab {
  0% {transform: translateY(-20px) scale(.9);opacity: 0;}
  100% {transform: translateY(0) scale(1);opacity: 1;}
}
.add_instance_form {border-bottom: 1px solid rgba(164, 166, 165, 0.56);}
.add_instance_form table {width: 100%;}
.add_instance_form th {font-family: 'Sk-Modernist'!important;padding: 2.8rem 1.8rem .3rem 1.8rem; color: #A4A6A5; text-transform: uppercase;}
.add_instance_form td {padding: 1.8rem; justify-content: center;}
.add_instance_form td input[type="checkbox"] {margin: 5px auto auto auto;}
.add_instance_form td .control span, .add_instance_form td .control select {width: 100%;}
.new_model_form {padding: 1rem!important; display: flex; flex-direction: column;}
.new_model_select {position: absolute; top: 3rem; z-index: 9; background: white; left:50%; width: fit-content; box-shadow: 1px 3px 18px rgba(0,0,0,.15); border-radius: 4px;opacity: 0;transform: scaleY(.9) translateX(-50%);transform-origin: top; transition: all .13s ease-in-out;height: 0; overflow: hidden; padding: 0;}
.new_model_select p {border-bottom: 1px solid rgba(226, 226, 226, 0.6); font-family: 'Sk-Modernist'; transition: all .13s ease-in-out; padding: .2rem .4rem; cursor: pointer; border-radius: 4px;}
.new_model_select p:hover {background: rgb(240, 240, 240);}
.new_model_select p:nth-last-child(1) {border-bottom: none!important;}
.selected_model {border-bottom: 3px solid black;display: inline-block;line-height: 43px;position: relative;font-family: 'Sk-Modernist'!important;}
.new_model_select_open {opacity: 1; transform: scaleY(1) translateX(-50%);height: fit-content; padding: .5rem; overflow: visible;}
.home { position: relative;}
.home *{ font-family: 'SpaceGrotesk';}
.home input, .home textarea, .ql-container.ql-snow, .ql-toolbar.ql-snow{border-color: #565857!important; border-radius: 7px;}
.ql-toolbar.ql-snow {
  border-radius: 7px 7px 0 0;
}
.ql-container.ql-snow {
  border-radius: 0 0 7px 7px;
}
.ql-container.ql-snow:active, .ql-container.ql-snow:focus  {box-shadow: 0 0 0 0.125em rgb(0 0 0 / 25%);}
.home .field .label {font-family: 'Sk-Modernist'!important;}
.upload .upload-draggable {border: 1px dashed #565857;}
.upload .upload-draggable:hover.is-primary, .upload .upload-draggable.is-hovered.is-primary {
  border-color: #343434;
  background: rgba(79, 79, 79, 0.05);
}
.loading_box {border-radius:7px; overflow: hidden; position: relative;transform: translateY(3px);}
.loading_box::before {content: ''; position:absolute;top: 0;right: 0;left: 0;bottom: 0; background-position: 20%;
  background-size: 2000px;
  background-image: linear-gradient(103deg, rgba(0, 0, 0, 0.13) 50%, rgba(255, 255, 255, 0.8) 51%, rgba(0, 0, 0, 0.13) 55%); animation:loadingBlink 2s ease-in-out infinite;}
@keyframes loadingBlink {
  from {background-position: 20%;}
  to {background-position: 90%;}
}
#drafts * {font-family: 'Sk-Modernist';}
.drafts_filters p {color: black; font-size: 22px; margin: 12px 0;cursor: pointer;}
.draft_list {display: flex; flex-direction: row; flex-wrap: wrap;justify-content: flex-end; padding: 0 3rem 0 0; }
.draft {background: #F1F0F0;border-radius: 11px; padding: 1.5rem; width: 450px; position: relative; flex-basis: 45%; margin: .3rem; cursor: pointer;}
.draft > div {display: flex; align-items: center; align-content: center;}
.draft > div > div {border-radius: 7px; background: #D9D9D9;width:47px;height: 47px;background-size: cover!important;background-position: center center!important;}
.draft > div > h3 {font-size: 18px; margin-left: 1rem;}
.draft > p {color: #ACACAC;font-size: 14px; margin: 1rem 0;}
.draft > img {position: absolute; right: .9rem;bottom: .9rem;width: 20px;height: 20px;}
.project_container {border: 1.2px solid black;border-radius: 11px; padding: 2rem; box-sizing: border-box;display: flex; flex-direction: row;}
.project_container * {font-family: 'Sk-Modernist';}
.project_container > .img_container div {border-radius: 7px; background-position: center center; background-size: cover; width: 70px;height: 70px;}
.project_container > .body_container > h1 {font-size: 30px;font-weight: 700; color: black;}
.project_container > .body_container > h2 {font-size: 20px; font-weight: 400; margin-bottom: 2rem; i {cursor: pointer;}i:hover {text-decoration: underline;}}
.project_container > .body_container {padding: 0 2rem;}
.project_container > .body_container .body p{color: black; font-size: 20px;}

.public .draft {background: #151515; box-shadow: 1px 3px 18px rgb(0 0 0 / 11%);}
.public .draft > div > h3 {color: white;}
.public .draft > img {filter: invert(1);}
.public .draft .loading_box {filter: invert(1);}
.public .instances_loading svg {color: white!important;}

.plans_container {display: flex; flex-direction: row;width: 80vw; margin: 6em auto auto auto;}
.plans_container * {font-family: 'Sk-Modernist';}
.plans_container .plan {transition: all .12s ease-in-out;background: white;border-radius: 2rem;box-shadow: 1px 3px 24px rgba(0,0,0,.16); padding: 3rem;text-align: center;width: 33vw;}
.plans_container .plan h1 {font-size: 28px;font-weight: 700;}
.plans_container .plan h2 {font-size: 24px;}
.plans_container .plan:nth-child(2) {z-index: 2; transform: scale(1.1);}
.plans_container .plan li {display: block; width: fit-content; position: relative; margin: auto}
.plans_container .plan li::before {content: '';width: 7px;height: 7px; background: black; border-radius: 100%;position: absolute; left: -.8rem;top: 9px;}
.plans_container .plan:hover {transform: scale(1.12);z-index: 3;}
.plan.unavailable {opacity: .7;}
.plan.unavailable:hover {transform: unset;z-index: unset}
.plans_container .plan:hover + .plan:nth-child(2) {transform: scale(1)!important;}
.free_mints {font-size: 20px;text-align: center; margin-top: 5rem; font-family: 'SpaceGrotesk';}
.subscription_status {margin: auto; text-align: center; span {border-radius: 4px; padding: 8px;}font-family: 'SpaceGrotesk';}