VUE_APP_UMI_API=https://api.umi.tools
VUE_APP_CONTENTS_API=https://api.mego.cx
VUE_APP_OPENSEA_URL=https://testnets.opensea.io/assets/rinkeby
VUE_APP_EXPLORER_URL=https://rinkeby.etherscan.io
VUE_APP_INFURA_ID=<INFURA_ID>
VUE_APP_FACTORY_CONTRACT=0x48a3E0537F187c3bc4A57C25df8F2B1bE99FdE36
VUE_APP_CHAIN_ID=4
VUE_APP_COIN=ether